<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xk3yScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <xk3yScanner.Properties.Settings>
            <setting name="menuRename" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="menuPrefer3DCovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>912, 547</value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="youtubeUrl" serializeAs="String">
                <value>http://youtube.googleapis.com/v/{video}&amp;hl=sv</value>
            </setting>
            <setting name="xboxUri" serializeAs="String">
                <value>http://marketplace.xbox.com/{place}/Product/66acd000-77fe-1000-9115-d802{titleid}?nosplash=1</value>
            </setting>
            <setting name="xboxRegex" serializeAs="String">
                <value>&lt;div class=\"Text\"&gt;.*?&lt;p&gt;(?&lt;summary&gt;.*?)&lt;/p&gt;.*?class=\"grid-6\".*?&lt;img alt=\"(?&lt;title&gt;.*?)\"*.?class=\"boxart\".*?src=\"(?&lt;coverurl&gt;.*?)\"(.*?(Developer:|開発元:)&lt;/label&gt;(?&lt;developer&gt;.*?)&lt;/li&gt;.*?|.*?)(Publisher:|発売元:)&lt;/label&gt;(?&lt;publisher&gt;.*?)&lt;/li&gt;.*?(Genre:|ジャンル:)&lt;/label&gt;(?&lt;genre&gt;.*?)&lt;/li&gt;</value>
            </setting>
            <setting name="spiffyUri" serializeAs="String">
                <value>http://spiffycovers.com/covers/view/360/{titleid}/</value>
            </setting>
            <setting name="spiffyRegex" serializeAs="String">
                <value>class="cover_downloads_title"&gt;(.*?)&lt;/h2&gt;.*?class="cover_downloads_3d"&gt;.*?&lt;a href="(.*?)&gt;.*?class="cover_downloads_front"&gt;.*?&lt;a href="(.*?)&gt;</value>
            </setting>
            <setting name="spiffy3DCover" serializeAs="String">
                <value>http://spiffycovers.com/cover/{titleid}/360/3D/</value>
            </setting>
            <setting name="spiffyFrontCover" serializeAs="String">
                <value>http://spiffycovers.com/cover/{titleid}/360/front/</value>
            </setting>
            <setting name="xboxCover" serializeAs="String">
                <value>http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d802{titleid}/1033/boxartlg.jpg</value>
            </setting>
            <setting name="xboxBanner" serializeAs="String">
                <value>http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d802{titleid}/1033/banner.png</value>
            </setting>
            <setting name="youtubeUri" serializeAs="String">
                <value>http://gdata.youtube.com/feeds/api/videos?category=XBOX360|360&amp;genre=24&amp;q={title}+Trailer</value>
            </setting>
            <setting name="youtubeRegex" serializeAs="String">
                <value>&lt;id&gt;http://gdata.youtube.com/feeds/api/videos/(.*?)&lt;/id&gt;.*?&lt;title.*?&gt;(.*?)&lt;/title&gt;.*?&lt;author&gt;.*?&lt;name&gt;(.*?)&lt;/name&gt;</value>
            </setting>
            <setting name="youtubeviewurl" serializeAs="String">
                <value>http://www.youtube.com/v/{video}</value>
            </setting>
            <setting name="abgxNameLookUpUrl" serializeAs="String">
                <value>http://abgx360.net/Apps/Stealth360/GameNameLookup.csv</value>
            </setting>
            <setting name="abgxGameNameLookup" serializeAs="String">
                <value />
            </setting>
            <setting name="abgxGameNameLookupETAG" serializeAs="String">
                <value />
            </setting>
            <setting name="editLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="editSize" serializeAs="String">
                <value>912, 517</value>
            </setting>
            <setting name="gfxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="chkGenre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkTrailer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkPublisher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkDeveloper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkDiscs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkGameType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkGameDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkAbgxInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InActiveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AbgxArguments" serializeAs="String">
                <value>-t --af3 --max -- "{0}"</value>
            </setting>
            <setting name="InActiveFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderStructure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenreTranslation" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>アクション</string>
                        <string>Action</string>
                        <string>アドベンチャー</string>
                        <string>Adventure</string>
                        <string>シューティング</string>
                        <string>Shooter</string>
                        <string>ファミリー</string>
                        <string>Family</string>
                        <string>格闘</string>
                        <string>Fighting</string>
                        <string>スポーツ</string>
                        <string>Sports</string>
                        <string>レクリエーション</string>
                        <string>Recreation</string>
                        <string>アバター</string>
                        <string>Avatar</string>
                        <string>戦略</string>
                        <string>Strategy</string>
                        <string>シミュレーション</string>
                        <string>Simulation</string>
                        <string>RPG</string>
                        <string>Role Playing</string>
                        <string>レース</string>
                        <string>Racing</string>
                        <string>フライト</string>
                        <string>Flying</string>
                        <string>パズル</string>
                        <string>Puzzle</string>
                        <string>雑学クイズ</string>
                        <string>Trivia</string>
                        <string>キャラクター アクション</string>
                        <string>Platformer</string>
                        <string>その他</string>
                        <string>Other</string>
                        <string>音楽</string>
                        <string>Music</string>
                        <string>エデュテイメント</string>
                        <string>Educational</string>
                        <string>テーブル ゲーム</string>
                        <string>Card &amp; Board</string>
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultRegion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkRegionCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="csvItems" serializeAs="String">
                <value />
            </setting>
            <setting name="xboxStores" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Argentina|es-AR</string>
                        <string>Australia|en-AU</string>
                        <string>België|nl-BE</string>
                        <string>Belgique|fr-BE</string>
                        <string>Brasil|pt-BR</string>
                        <string>Canada (English)|en-CA</string>
                        <string>Canada (Français)|fr-CA</string>
                        <string>Česká republika|cs-CZ</string>
                        <string>Chile|es-CL</string>
                        <string>Colombia|es-CO</string>
                        <string>Danmark|da-DK</string>
                        <string>Deutschland|de-DE</string>
                        <string>España|es-ES</string>
                        <string>Ελλάδα|el-GR</string>
                        <string>France|fr-FR</string>
                        <string>Hong Kong S.A.R. (香港)|zh-HK</string>
                        <string>Hong Kong S.A.R. (English)|en-HK</string>
                        <string>India|en-IN</string>
                        <string>Ireland|en-IE</string>
                        <string>Israel|he-IL</string>
                        <string>Italia|it-IT</string>
                        <string>日本 (Japan)ja-JP|</string>
                        <string>대한민국 (Korea)|ko-KR</string>
                        <string>Magyarország|hu-HU</string>
                        <string>México|es-MX</string>
                        <string>Nederland|nl-NL</string>
                        <string>New Zealand|en-NZ</string>
                        <string>Norge|nb-NO</string>
                        <string>Österreich|de-AT</string>
                        <string>Polska|pl-PL</string>
                        <string>Portugal|pt-PT</string>
                        <string>Pоссия|ru-RU</string>
                        <string>Saudi Arabia|ar-SA</string>
                        <string>Schweiz|de-CH</string>
                        <string>Singapore|en-SG</string>
                        <string>Slovakia|sk-SK</string>
                        <string>South Africa|en-ZA</string>
                        <string>Suisse|fr-CH</string>
                        <string>Suomi|fi-FI</string>
                        <string>Sverige|sv-SE</string>
                        <string>台灣 (Taiwan)|zh-TW</string>
                        <string>Türkiye|tr-TR</string>
                        <string>United Arab Emirates|ar-AE</string>
                        <string>United Kingdom|en-GB</string>
                        <string>United States|en-US</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultStore" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="chkOverwriteImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtTemplate" serializeAs="String">
                <value>{Title} {OptStrDisc} [{MediaId}][{Regions}]</value>
            </setting>
        </xk3yScanner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
