/_ReSharper.xk3yScanner
/TestResults

/xk3yScanner.v11.suo

/xk3yScanner.v12.suo

/xk3yScanner/bin/Debug

/xk3yScanner/bin/Release

/xk3yScanner/bin
/xk3yScanner/obj/Debug

/xk3yScanner/obj/Release
"xk3yScanner/xkeyBrew/IsoGameReaderpath/DefaultXeX.cs" 
